<?xml version="1.0"?>

<block>
	<name>WiFi Mapper</name>
	<key>ieee802_11_mapper</key>
	<category>[IEEE802.11]</category>
	<import>import ieee802_11</import>
	<make>ieee802_11.mapper($encoding, $debug, $s1g_format, $s1g_encoding, $s1g_cw, $s1g_cap)</make>
	<callback>enable_s1g($s1g_cap)</callback>
	<callback>set_s1g_cw($s1g_cw)</callback>
	<callback>set_s1g_encoding($s1g_encoding)</callback>
	<callback>set_encoding($encoding)</callback>
	<callback>set_frame_format($s1g_format)</callback>

	<param>
		<name>Encoding</name>
		<key>encoding</key>
		<value>ieee802_11.BPSK_1_2</value>
		<type>int</type>

		<option>
			<name>BPSK 1/2</name>
			<key>ieee802_11.BPSK_1_2</key>
		</option>
		<option>
			<name>BPSK 3/4</name>
			<key>ieee802_11.BPSK_3_4</key>
		</option>
		<option>
			<name>QPSK 1/2</name>
			<key>ieee802_11.QPSK_1_2</key>
		</option>
		<option>
			<name>QPSK 3/4</name>
			<key>ieee802_11.QPSK_3_4</key>
		</option>
		<option>
			<name>16QAM 1/2</name>
			<key>ieee802_11.16QAM_1_2</key>
		</option>
		<option>
			<name>16QAM 3/4</name>
			<key>ieee802_11.16QAM_3_4</key>
		</option>
		<option>
			<name>64QAM 2/3</name>
			<key>ieee802_11.64QAM_2_3</key>
		</option>
		<option>
			<name>64QAM 3/4</name>
			<key>ieee802_11.64QAM_3_4</key>
		</option>
	</param>
	<param>
		<name>S1G Capabilities</name>
		<key>s1g_cap</key>
		<value>False</value>
		<type>bool</type>
		<option>
			<name>Disable</name>
			<key>False</key>
		</option>
		<option>
			<name>Enable</name>
			<key>True</key>
		</option>
	</param>
	<param>
		<name>S1G PPDU Format</name>
		<key>s1g_format</key>
		<value>ieee802_11.S1G_SHORT</value>
		<type>int</type>
		<hide>#if $s1g_cap() == True then 'none' else 'all'#</hide>
		<option>
			<name>S1G 1MHz Format</name>
			<key>ieee802_11.S1G_1M</key>
		</option>
		<option>
			<name>S1G Short Format</name>
			<key>ieee802_11.S1G_SHORT</key>
		</option>
	</param>
	<param>
		<name>S1G Encoding</name>
		<key>s1g_encoding</key>
		<value>ieee802_11.S1G_BPSK_1_2</value>
		<type>int</type>
		<hide>#if $s1g_cap() == True then 'none' else 'all'#</hide>
		<option>
			<name>S1G BPSK 1/2</name>
			<key>ieee802_11.S1G_BPSK_1_2</key>
		</option>
		<option>
			<name>S1G QPSK 1/2</name>
			<key>ieee802_11.S1G_QPSK_1_2</key>
		</option>
		<option>
			<name>S1G QPSK 3/4</name>
			<key>ieee802_11.S1G_QPSK_3_4</key>
		</option>
		<option>
			<name>S1G 16-QAM 1/2</name>
			<key>ieee802_11.S1G_16QAM_1_2</key>
		</option>
		<option>
			<name>S1G 16-QAM 3/4</name>
			<key>ieee802_11.S1G_16QAM_3_4</key>
		</option>
		<option>
			<name>S1G 64-QAM 2/3</name>
			<key>ieee802_11.S1G_64QAM_2_3</key>
		</option>
		<option>
			<name>S1G 64-QAM 3/4</name>
			<key>ieee802_11.S1G_64QAM_3_4</key>
		</option>
		<option>
			<name>S1G 64-QAM 5/6</name>
			<key>ieee802_11.S1G_64QAM_5_6</key>
		</option>
		<option>
			<name>S1G 256-QAM 3/4</name>
			<key>ieee802_11.S1G_256QAM_3_4</key>
		</option>
		<option>
			<name>S1G BPSK 1/2 with 2x repetition</name>
			<key>ieee802_11.S1G_BPSK_REP_1_2</key>
		</option>
	</param>
	<param>
		<name>S1G Channelwidth</name>
		<key>s1g_cw</key>
		<value>ieee802_11.S1G_CW_2M</value>
		<type>int</type>
		<hide>#if $s1g_cap() == True then 'none' else 'all'#</hide>
		<option>
			<name>1MHz</name>
			<key>ieee802_11.S1G_CW_1M</key>
		</option>
		<option>
			<name>2MHz</name>
			<key>ieee802_11.S1G_CW_2M</key>
		</option>
	</param>
	<!-- 	TODO: Add S1G PPDU Format Options: S1G_SHORT,(S1G_LONG),S1G_1M
	  		TODO: Add S1G CW Options: 1MHz, 2MHz -->

	<param>
		<name>Debug</name>
		<key>debug</key>
		<value>False</value>
		<type>bool</type>

		<option>
			<name>Enable</name>
			<key>True</key>
		</option>
		<option>
			<name>Disable</name>
			<key>False</key>
		</option>
	</param>

	<check>$encoding in range(15)</check>

	<sink>
		<name>in</name>
		<type>message</type>
	</sink>

	<source>
		<name>out</name>
		<type>byte</type>
		<nports>1</nports>
	</source>

</block>
